.qToggler {
    background: #444;
    border: 0;
    display: inline-block;
    height: 36px;
    left: 0;
    text-align: center;
    top: 13px;
    width: 36px;
    z-index: 1001;
 }

.line {
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    background: #fff;
    height: 2px;
    margin: 4px 0;
    transition: all 0.2s ease-out;
    width: 20px;
 }

.qToggler .line:first-child {
    transform: rotate(90deg);
    width: 18px;
}

.qToggler .line:last-child {
    margin-top: -6px;
    width: 18px;
}
 
.qToggler.expanded .line:first-child {
    opacity: 0;
    transform: rotate(0deg);
 }
 
.qToggler.expanded .line:last-child {
    transform: rotate(180deg);
 }